.card {
    background-color: var(--green);
    text-align: center;
}

.card__image {
    padding: 15px;
    object-fit: contain;
}

.card__category {
    background-color: var(--black);
}

.card__category__text {
    text-align: center;
    font-weight: 500;
    padding: 8px 0;

    color: var(--white);
}